* {
    margin: 0;
    padding: 0;
    color: white;
}

.background-image {
    background-image: url(./resources/Banner.png);
    margin: 50px auto;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    background-size: 100% 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 0px auto;
}