header {

    justify-content: center;
    text-align: center;
    color: white;
    /* Set text color */
    background-image: url('./resources/Banner Image.png');
    background-size: cover;
    /* Adjust as needed */
    height: 300px;
    /* Set the height of the header */
    margin-top: 50px;
    margin-left: 144px;
    margin-right: 144px;

    background-repeat: no-repeat;

}

.banner-title {
    padding-top: 177px;
    color: #00ff95;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-heading {
    gap: 16px;



    color: #00ff95;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}