* {
    margin: 0;
    padding: 0;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 227px 670px;
}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.banner-image {
    padding: 50px 140px;
}

.banner {
    background-image: url(./resources/Banner\ Image.png);
    background-repeat: no-repeat;
    padding-top: 50px;
    background-position: center;
    bp
}